<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<link href="stylesheets/animation/quote.css" rel="stylesheet">

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div class="row">
            <div class="col-5" data-aos="zoom-in">
                <img style="width: 80%" data-lazysrc="images/me.jpg">
            </div>
            <div class="col">
                <h2 data-aos="zoom-in">ПРИВЕТ ! Я ЖДАЛА ИМЕННО ВАС !!!</h2>
                <div>
                    <p data-aos="fade-right">Давайте сделаем детство наших детей разнообразным!</p>
                    <ul style="list-style: none" data-aos="fade-down">
                        <li>- вдохновим на деятельность</li>
                        <li>- разовьем 100 языков которыми наделила их природа</li>
                        <li>- поможем понять мир </li>
                    </ul>
                    <p data-aos="fade-right">А странички моего сайта помогут нам это сделать быстрее. Поехали!</p>
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col d-flex justify-content-center">
                            <a href="/contact_us" class="pulse-button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="greetings">
            <i class="bi bi-quote"></i>
            <span>Предоставьте</span>
            <span>ребенку</span>
            <span>возможности</span>
            <span>для</span>
            <span>развития</span>
            <span>,</span>
            <span>и</span>
            <span>вы</span>
            <span>удивитесь</span>
            <span>сколько</span>
            <span>потенциала</span>
            <span>заложено</span>
            <span>в</span>
            <span>нем.</span>
        </div>
        <div class="mb-5" style="align-self: end; margin-right: 21%; font-size: 24px">
            — ЛОРИС МАЛАГУЦЦИ
        </div>
        -->
        <a href="#links" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->
