<section id="visit_card" style="padding: 0 !important;">
    <div class="wrapper">
        <div class="d-block" style="z-index: 2">
            <div class="section-title" style="margin: 40px 60px;">
                <span style="color: rgba(238,240,242, 0.1)">Визитная карточка</span>
                <h2>Визитная карточка</h2>
            </div>
            <img class="hover-bubbles" src="images/video_placeholder.jpg" width="70%"/>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>