<section>
    <form action="https://postmail.invotes.com/send"
          method="post" id="email_form">

        <input type="text" name="subject" placeholder="Subject" />
        <textarea name="text" placeholder="Message"></textarea>
        <input type="hidden" name="access_token" value="kgddp7td6uqyb19lfe7a44dj" />

        <input type="hidden" name="success_url" value=".?message=Email+Successfully+Sent%21&isError=0" />
        <input type="hidden" name="error_url" value=".?message=Email+could+not+be+sent.&isError=1" />

        <input id="submit_form" type="submit" value="Send" />
        <p>Powered by <a href="https://postmail.invotes.com" target="_blank">PostMail</a></p>
    </form>
</section>

<!-- optional, prevents the submit button from being pressed more than once -->
<script>
    let submitButton = document.getElementById("submit_form");
    let form = document.getElementById("email_form");
    form.addEventListener("submit", function (e) {
        setTimeout(function() {
            submitButton.value = "Sending...";
            submitButton.disabled = true;
        }, 1);
    });
</script>