<div class="content_links text-center p-5">
    <div class="row m-0 ">
        <div class="col">
            Материалы
        </div>
        <div class="col">
            Play-контент
        </div>
    </div>
    <div class="row m-0 ">
        <div class="col block">
            Надпись
        </div>
        <div class="col block">
            Надпись
        </div>
    </div>
    <div class="row m-0 ">
        <div class="col block">
            Надпись
        </div>
        <div class="col block">
            Надпись
        </div>
    </div>
    <div class="row m-0 ">
        <div class="col block">
            Надпись
        </div>
        <div class="col block">
            Надпись
        </div>
    </div>
</div>