<div class="experience_gallery">
    <ul class="image-gallery" style="list-style: none">
        <%
        let titles = [
            'Установочный пед.совет, мастер класс для коллег «Игра в глину»',
            'Мастер класс «Воспитатель года»',
            'Мастер класс для молодых педагогов ДОУ',
            'День открытых дверей',
            '«Педагогическая студия» - релаксационные упражнения в средней группе',
            'Мастер класс для студентов ПРПК',
            '«Педагогическая студия» - утренний круг в подготовительной группе',
            '«педагогическая студия» - взрослый совет для коллег из второго корпуса',
            '«Педагогическая студия» - детский совет старшая группа',
            'Августовская конференция. Участие на получение МИП',
            'Мастер класс для коллег. Летний лагерь «Огонек»',
            'Республиканский семинар «В калинку с вдохновением» . Мастер класс «Взрослого совета»',
            'Заключительный этап республиканского семинара по Вдохновению.'
        ]
        for(let i = 0; i < 13; i++)  { %>
        <li>
            <img class="lazy" data-src="images/experience/<%=i%>.jpg" alt="" />
            <div class="overlay p-3"><span><%=titles[i]%></span></div>
        </li>
        <% } %>
    </ul>
</div>