<div class="laptop-wrapper position-relative">
    <div class="screen screen__window screen__window--background">
        <div class="screen screen__window screen__window--foreground">
            <div class="screen screen__display">
                <div class="row">
                    <div class="display__item display__item--stripe"></div>
                    <div class="display__item display__item--box"></div>
                    <div class="display__item display__item--message"></div>
                </div>
                <div class="row">
                    <div class="display__item display__item--stripe"></div>
                    <div class="display__item display__item--box"></div>
                    <div class="display__item display__item--message"></div>
                </div>
                <div class="row">
                    <div class="display__item display__item--stripe"></div>
                    <div class="display__item display__item--box"></div>
                    <div class="display__item display__item--message"></div>
                </div>
            </div>
            <div class="screen__base">
                <div class="base base__middle"></div>
                <div class="base base__plugs">
                    <div class="plug plug--usb plug--usb--1"></div>
                    <div class="plug plug--usb plug--usb--2"></div>
                    <div class="plug plug--psu"></div>
                </div>
            </div>
        </div>
        <div class="screen screen__shadow"></div>
    </div>
    <div class="mug">
        <div class="mug__particles">
            <div class="particle particle--cross particle--cross--1 particle--pink"></div>
            <div class="particle particle--cross particle--cross--2 particle--blue"></div>
            <div class="particle particle--cross particle--cross--3 particle--green"></div>
            <div class="particle particle--cross particle--cross--4 particle--yellow"></div>
            <div class="particle particle--diamond particle--diamond--1 particle--yellow"></div>
            <div class="particle particle--diamond particle--diamond--2 particle--pink"></div>
        </div>
        <div class="mug__liquid mug__liquid--small"></div>
        <div class="mug__liquid mug__liquid--big"></div>
        <div class="mug__handhelper"></div>
    </div>
</div>

<script>
    /*
    *  Observer
    */

    // Create the observer
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animated');
            }
        });
    });

    // Tell the observer which elements to track
    observer.observe(document.querySelector('.laptop-wrapper'));
</script>