<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="/">Главная</a></li>
            <li class="dropdown"><a href="/about_me#about"><span>Обо мне</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="/about_me#about">О себе</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#education">Образование</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#experience">Распространение опыта</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#work_principles">Принципы работы</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#youtube_channel">Youtube канал</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#my_family">Моя семья</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#portfolio"><span>Мой опыт</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="#p_metafor">Сказочная метафора</a></li>
                    <li><a class="nav-link scrollto" href="#p_concept">Концепция</a></li>
                    <li><a class="nav-link scrollto" href="#p_system">Система</a></li>
                    <li><a class="nav-link scrollto" href="#p_results">Результаты</a></li>
                    <li><a class="nav-link scrollto" href="#p_model">Тико моделирование</a></li>
                    <li><a class="nav-link scrollto" href="#p_glin_game">Игра в глину</a></li>
                    <li><a class="nav-link scrollto" href="#p_paper_adventure">Бумажное путешествие</a></li>
                    <li><a class="nav-link scrollto" href="#p_fairytale">Утренние сказки</a></li>
                    <li><a class="nav-link scrollto" href="#p_doll_therapy">Куклотерапия</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#colleagues"><span>Коллегам</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="#c_lang">100 языков для самовыражения</a></li>
                    <li><a class="nav-link scrollto" href="#c_projects">Проекты</a></li>
                    <li><a class="nav-link scrollto" href="#c_art">Исскуство</a></li>
                    <li><a class="nav-link scrollto" href="#c_const">Коструирование</a></li>
                    <li><a class="nav-link scrollto" href="#c_movement">Движение</a></li>
                    <li><a class="nav-link scrollto" href="#c_theater">Театральные постановки</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="/parents"><span>Родителям</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="/parents#child_development">Развитие ребенка</a></li>
                    <li><a class="nav-link scrollto" href="/parents#teacher_recommendations">Рекомендации педагога</a></li>
                    <li><a class="nav-link scrollto" href="/parents#parent_books">Книги для родителей</a></li>
                    <li><a class="nav-link scrollto" href="/parents#time_together">Время вместе</a></li>
                </ul>
            </li>
            <li><a class="nav-link scrollto" href="#services">Детям</a></li>
            <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</header>