<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="/">Главная</a></li>
            <li class="dropdown"><a href="/about_me#about"><span>Обо мне</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="/about_me#about">О себе</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#education">Образование</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#work_principles">Принципы работы</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#youtube_channel">Youtube канал</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#my_family">Моя семья</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#my_hobbies">Мои увлечения</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#kids_gallery">Будни с детьми</a></li>
                    <li><a class="nav-link scrollto" href="/about_me#weekdays">Будни с коллегами</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="/experience"><span>Распространение опыта</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="/experience#events">Публичное представление опыта педагога</a></li>
                    <li><a class="nav-link scrollto" href="/experience#publications">Публикации</a></li>
                    <li><a class="nav-link scrollto" href="/experience#public_activity">Общественная активность педагога</a></li>
                    <li><a class="nav-link scrollto" href="/experience#innovative_activity">Инноационная деятельность педагога</a></li>
                    <li><a class="nav-link scrollto" href="/experience#e_photos">Фотографии</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="/my_experience"><span>Мой опыт</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="/my_experience#clay_play">Глина</a></li>
                    <li><a class="nav-link scrollto" href="/my_experience#tico_play">Тико моделирование</a></li>
                    <li><a class="nav-link scrollto" href="/my_experience#project_activity">Проектная деятельность</a></li>
                    <li><a class="nav-link scrollto" href="/my_experience#morning_tales">Утренние сказки</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="/colleagues"><span>Коллегам</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li class="dropdown">
                        <a class="nav-link scrollto" href="/colleagues#projects">
                            <span>Проекты</span><i class="bi bi-chevron-right"></i>
                        </a>
                        <ul>
                            <li><a class="nav-link scrollto" href="/colleagues#inspire">Вдохновитесь идеями моих детей</a></li>
                            <li><a class="nav-link scrollto" href="/colleagues#useful_info">Полезная информация</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link scrollto" href="/colleagues#art">
                            <span>Вдохновите детей на искусство</span><i class="bi bi-chevron-right"></i>
                        </a>
                        <ul>
                            <li><a class="nav-link scrollto" href="/colleagues#clay_working">Играя в глину</a></li>
                            <li><a class="nav-link scrollto" href="/colleagues#with_light">С помощью света и тени</a></li>
                            <li><a class="nav-link scrollto" href="/colleagues#drawing">Рисуя оторвавшись от реальности</a></li>
                            <li><a class="nav-link scrollto" href="/colleagues#creativity">Творчество на выбор</a></li>
                            <li><a class="nav-link scrollto" href="/colleagues#recommended_read">Рекомендую почитать</a></li>
                            <li><a class="nav-link scrollto" href="/colleagues#museum">Посетите музеи мира</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/colleagues#const">Коструирование</a></li>
                    <li><a class="nav-link scrollto" href="/colleagues#metaphors">Сказочные метафоры</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="/parents"><span>Родителям</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a class="nav-link scrollto" href="/parents#tell_about_art">Расскажите детям об искусстве</a></li>
                    <li><a class="nav-link scrollto" href="/parents#parent_books">Книги для родителей</a></li>
                    <li><a class="nav-link scrollto" href="/parents#kids_help">Поможем детям узнать мир</a></li>
                    <li><a class="nav-link scrollto" href="/parents#tips">Советы</a></li>
                    <li><a class="nav-link scrollto" href="/parents#ytb_together">Посмотрите вместе YouTube</a></li>
                    <li><a class="nav-link scrollto" href="/parents#parents_video">Креативные идеи из ничего</a></li>
                    <li><a class="nav-link scrollto" href="/parents#light_play">Поиграйте со светом и тенью</a></li>
                    <li><a class="nav-link scrollto" href="/parents#carantin">Работа с детьми во время карантина</a></li>
                    <li><a class="nav-link scrollto" href="/parents#child_development">Развитие ребенка</a></li>
                    <li><a class="nav-link scrollto" href="/parents#time_together">Время вместе</a></li>
                </ul>
            </li>
            <li><a class="nav-link scrollto" href="#services">Детям</a></li>
            <li><a class="nav-link scrollto" href="/contact_us">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</header>