<section id="art" class="art">
    <div class="mx-2">
        <div class="section-title">
            <span>Исскуство</span>
            <h2>Исскуство</h2>
        </div>
        <div class="row m-0 p-0">
            <div class="col">
                <img style="width: 100%; height: auto" src="images/gif/clay.gif">
            </div>
            <div class="col-8">
                <div>
                    Путеводные звёзды детского творчества!
                    <br><br>
                    <ul>
                        <li>взращивание чувств удивления и восхищения</li>
                        <li>приглашение видеть повседневные явления, которые часто остаются незамеченными, и включать их в игру</li>
                        <li>постоянное проведение параллелей между пережитым детьми опытом и поиском и использованием подходящих творческих материалов</li>
                    </ul>
                    Дети, работая с разными материалами с оформляют, лучше осознают свой опыт и делилятся им, вместо того, чтобы просто забыть его и вытеснить чем-то новым.
                    <br>творческий подход к каждому ребенку; принцип познания; принцип вариативного мышления; междисциплинарный подход; принцип равенства между взрослым и ребенком.
                </div>
            </div>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 70px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://disk.yandex.ru/d/Hc7Zy0mTmmQmZA/%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%BE"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
    </div>
</section>


