<section id="art" class="art">
    <div class="mx-2">
        <div class="section-title">
            <span>Вдохновите детей  на искусство</span>
            <h2>Вдохновите детей  на искусство</h2>
        </div>
        <div id="clay_working" class="row m-0 p-0">
            <h3 class="text-center">Играя в глину</h3>
            <div class="col">
                <img style="width: 100%; height: auto" src="images/gif/clay.gif">
            </div>
            <div class="col-8">
                <div>
                    <p class="p-3">
                        <strong>Глина</strong> — это как чемодан с игрушками, вытащил поиграл во что хочешь и сложил обратно
                    </p>
                </div>
                <div class="text-center" style="font-size: 24px; margin: 70px">
                    <button  class="button button--secondary">
                        <a target="_blank" href="https://drive.google.com/drive/folders/19-59-42eCo6-8bEUgm2vlffgfjEFbEhO?usp=sharing"
                           class="button__inner">Скачать материал</a>
                    </button>
                </div>
            </div>
        </div>
        <!-- -->
        <div id="with_light" class="row m-0 p-0">
            <h3 class="text-center">С помощью света и тени</h3>
            <div class="col">
                <img style="width: 80%; height: auto" src="images/gif/flashlight.gif">
            </div>
            <div class="col-7">
                <div class="row mt-5 d-flex justify-content-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IrYo91JhDPc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <span class="text-center" style="font-size: 20px">
                        Свет - что это такое? Как он возникает? Сборник | Смешарики Пинкод
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col">
                <div class="row mt-5 d-flex justify-content-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_3iodP-fRKQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <span style="font-size: 20px">
                        Этот проект был реализован Международным центром имени Лориса Малагуцци.
                        В десятиминутном видео на итальянском языке (ниже — расшифровка с переводом) —
                        фрагменты работы детей со светом и тенью в Реджио-ателье «Луч света».
                        В конце ролика — небольшое представление-перформанс с использованием
                        голосов, света, теней, звуков и образов
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="row mt-5 d-flex justify-content-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zYxlm_EHxRU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 70px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://drive.google.com/drive/folders/18xF_RkHRO0DdlaPebiiCMPp1pdGlUDcX?usp=sharing"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
        <!-- -->
        <div id="drawing" class="row m-0 p-0">
            <h3 class="text-center">Рисуя оторвавшись от реальности</h3>
            <div class="col">
                <img style="width: 80%; height: auto" src="images/gif/drawing.gif">
            </div>
            <div class="col-7">
                <span style="font-size: 36px">Полезные ссылки:</span>
                <ul>
                    <li>
                        <a href="https://razvivashka.online/blog/privivaem-lyubov-k-iskusstvu"
                           target="_blank">Прививаем любовь к искусству с ранних лет.</a>
                    </li>
                    <li>
                        <a href="http://semeynaya-kuchka.ru/netradicionnoe-risovanie-77-idej-dlya-detskogo-sada/"
                           target="_blank">Нетрадиционное РИСОВАНИЕ (77 идей для детского сада).</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 70px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://drive.google.com/drive/folders/1KijisrozOG9pHBn0tPe2NZHWM6lssENR?usp=sharing"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
        <!-- -->
        <div id="creativity" class="row m-0 p-0">
            <h3 class="text-center">Творчество на выбор</h3>
            <div id = "creativity_video" class="row d-flex justify-content-center m-0">
                <div class="row" style="margin:50px">
                    <div class="gallery">
                        <%
                        let urls = [
                            '1o7l3f81rdkMGKvwff_2pEhSbgF1rOmVW',
                            '12cUbi6aDtIlM2iso3Vb75INc0nvhmcTN',
                            '1sYKr8GtrmIq6rlZJIuM0Ioyi_R7pmI9A',
                            '1D3qUQHWH-qAMMQEcvqYGE-UBwIW8OnYf',
                            '19dmHfuYU5Dnd7XfwfQq3Urgczx_11YEm',
                            '1mfO9U2iVdigGd9RDLPbTiclZiKdblb0J',
                            '1eQOO-lHpvQ6auDywIBO2494AGJGeHxZt',
                            '1P5OukXPQADmbGSUZ0iw1PADyMZpd5ADA',
                            '1oEejjPPASiQa5kerib-6GW3ep2ObcQnJ',
                            '1Qw28OsMeo6-ixaUleydu8xb2kZQAtKY4',
                            '14_LCFEuRiOm3I39r0X9nAnEVcLcd12My',
                            '1RzGLNb1_1Zg6TWqgcxPRsHxX8NgXBfVL'
                        ]
                                for(let url of urls) {
                        %>
                        <a href="https://drive.google.com/file/d/<%=url%>/preview" class="glightbox6" data-gallery="gallery6">
                            <div class="gallery-item">
                                <img style="object-fit: cover; height: 150px"
                                     class="gallery-image" src="https://drive.google.com/thumbnail?id=<%=url%>">
                            </div>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 20px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://drive.google.com/drive/folders/1ZAwIFOQSFnHA-lsxKkLMfRTZ2LMqKxt4"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
        <!-- -->
        <div id="recommended_read" class="row m-0 p-0">
            <h3 class="text-center">Рекомендую почитать</h3>
            <div class="row d-flex justify-content-center">
                <div class="col moleskine-wrapper">
                    <a href="https://vk.com/wall-177523869_950" target="_blank">
                        <div class="moleskine-notebook">
                            <div class="notebook-cover blue">
                                <div class="notebook-skin">Прочитать</div>
                            </div>
                            <div class="notebook-page ruled"></div>
                        </div>
                    </a>
                    <h4 class="text-center">«От Джотто до Магритта. Читаем и раскрашиваем»</h4>
                </div>
                <div class="col moleskine-wrapper">
                    <a href="https://vk.com/wall-43935240_4128" target="_blank">
                        <div class="moleskine-notebook">
                            <div class="notebook-cover blue">
                                <div class="notebook-skin">Прочитать</div>
                            </div>
                            <div class="notebook-page ruled"></div>
                        </div>
                    </a>
                    <h4 class="text-center">Школа рисования "Своими Руками"</h4>
                </div>
                <div class="col moleskine-wrapper">
                    <a href="https://vk.com/album176496609_252434694" target="_blank">
                        <div class="moleskine-notebook">
                            <div class="notebook-cover blue">
                                <div class="notebook-skin">Прочитать</div>
                            </div>
                            <div class="notebook-page ruled"></div>
                        </div>
                    </a>
                    <h4 class="text-center">АЗБУКА из коллекции Государственного Эрмитажа</h4>
                </div>
            </div>
        </div>
        <!-- -->
        <div id="museum" class="row m-0 p-0">
            <h3 class="text-center">Посетите музеи мира</h3>
            <div id = "museum_video" class="row d-flex justify-content-center m-0">
                <div class="row" style="margin:50px">
                    <div class="gallery">
                        <%
                        urls = [
                            'QKIzjZFg_uU',
                            'bjEUvs-QEg4',
                            'iiLyEjBnqcM',
                            'Yt7A_MBNIN4',
                            'YX-ZyJJU1II',
                            'AjqrgAiBrSM',
                            '8QnLqIHHQF0',
                            'un_fM9rsMqs',
                            '2lhx6k6zS7M',
                            'Yt7A_MBNIN4',
                            'sELOh1Ud9Pg',
                            't49GFYcfSUE'
                        ]
                                for(let url of urls) {
                        %>
                        <a href="https://youtu.be/<%=url%>" class="glightbox7" data-gallery="gallery7">
                            <div class="gallery-item">
                                <img style="object-fit: cover;"
                                     class="gallery-image" src="https://img.youtube.com/vi/<%=url%>/hqdefault.jpg">
                            </div>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center">
            <a style="font-size: 36px; text-decoration: underline" href="https://www.liveexcurs.com/live-excurs/" target="_blank">
                Живые экскурсии онлайн
            </a>
        </h4>
    </div>
</section>
<script>
    const lightbox6 = GLightbox({
        selector:  '.glightbox6',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
    const lightbox7 = GLightbox({
        selector:  '.glightbox7',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>

