<section id="clay_work" class="clay_work position-relative">
    <div class="mx-2">
        <img style="width: 13%; height: auto; position: absolute" src="images/gif/caly/1.gif">
        <img style="width: 15%; height: auto; position: absolute; right: 10px" src="images/gif/caly/2.gif">
        <div class="d-flex justify-content-center">
            <small>Вдохновите детей на искусство</small>
        </div>
        <div class="section-title">
            <span>Играя в глину</span>
            <h2>Играя в глину</h2>
        </div>
        <div class="d-flex justify-content-center">
            <div class="p-3 w-50 text-center">
                <strong>Глина</strong> — это как чемодан с игрушками, вытащил поиграл во что хочешь и сложил обратно
            </div>
        </div>
        <div class="row" style="margin:100px">
            <div class="gallery">
                <%
                let urls = [
                    'F1TXZNviPRs',
                    'ecu-4ajlr9g',
                    '0NKeThuWZqM',
                    'TG6qXvJwJDY',
                    'KBc___VevT0',
                    'Qk05BHkmJhA',
                    'AyckciYOWMA',
                    'sSV55Dc7GD0',
                    'DyGipKZYEPI',
                    'vwoPb5jrD-c',
                    'wGl0pzZHkLw',
                    'R6rFhFllmkk'
                ]
                for(let url of urls) {
                %>
                    <a href="https://youtu.be/<%=url%>" class="glightbox1" data-gallery="gallery3">
                        <div class="gallery-item ">
                            <img class="gallery-image" src="https://img.youtube.com/vi/<%=url%>/hqdefault.jpg">
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
        <img style="width: 10%; height: auto; position: absolute; bottom: 10px" src="images/gif/caly/5.gif">
        <img style="width: 10%; height: auto; position: absolute; bottom: 10px; right: 0" src="images/gif/caly/4.gif">
        <div class="d-flex justify-content-center">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT1yJqe2beL2Pa8SL9CsWXN0urMCxzIr5pDnQpqc8IKKCtqaUOn6FgtSoE2T7bPTtFBJrGDPWOjj7Hi/embed?start=true&loop=false&delayms=3000"
                    frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
            </iframe>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 70px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://bur-96-ka.tvoysadik.ru/?section_id=1836"
                   class="button__inner">Страница глины</a>
            </button>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 70px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://drive.google.com/drive/folders/19-59-42eCo6-8bEUgm2vlffgfjEFbEhO?usp=sharing"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
    </div>
</section>

<script type="text/javascript">

    const lightbox1 = GLightbox({
        selector:  '.glightbox1',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>