<section id="clay_work" class="clay_work position-relative">
    <div class="mx-2">
        <img style="width: 13%; height: auto; position: absolute" src="images/gif/caly/1.gif">
        <img style="width: 15%; height: auto; position: absolute; right: 10px" src="images/gif/caly/2.gif">
        <div class="section-title">
            <span>Работа с глиной</span>
            <h2>Работа с глиной</h2>
        </div>

        <div class="row" style="margin:100px">
            <div class="gallery">
                <%
                let urls = [
                    'F1TXZNviPRs',
                    'ecu-4ajlr9g',
                    '0NKeThuWZqM',
                    'TG6qXvJwJDY',
                    'KBc___VevT0',
                    'Qk05BHkmJhA',
                    'AyckciYOWMA',
                    'sSV55Dc7GD0',
                    'DyGipKZYEPI',
                    'vwoPb5jrD-c',
                    'wGl0pzZHkLw',
                    'R6rFhFllmkk'
                ]
                for(let url of urls) {
                %>
                    <a href="https://youtu.be/<%=url%>" class="glightbox1" data-gallery="gallery3">
                        <div class="gallery-item ">
                            <img class="gallery-image" src="https://img.youtube.com/vi/<%=url%>/hqdefault.jpg">
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
        <img style="width: 10%; height: auto; position: absolute; bottom: 10px" src="images/gif/caly/5.gif">
        <img style="width: 10%; height: auto; position: absolute; bottom: 10px" src="images/gif/caly/5.gif">
        <img style="width: 10%; height: auto; position: absolute; bottom: 10px; right: 0" src="images/gif/caly/4.gif">
    </div>
</section>

<script type="text/javascript">

    const lightbox1 = GLightbox({
        selector:  '.glightbox1',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>