<section id="const" class="const">
    <div class="container">
        <div class="section-title">
            <span>Конструирование</span>
            <h2>Конструирование</h2>
        </div>
        <div>

        </div>
    </div>
</section>


