<section id="lang" class="lang">
    <div class="container">
        <div class="section-title">
            <span>100 языков для самовыражения</span>
            <h2>100 языков для самовыражения</h2>
        </div>
        <div>

        </div>
    </div>
</section>


