<section id="metaphors" class="metaphors">
    <div class="container">
        <div class="section-title">
            <span>Сказочные метафоры</span>
            <h2>Сказочные метафоры</h2>
        </div>

    </div>
</section>


