<section id="projects" class="projects">
    <div class="container">
        <div class="section-title">
            <span>Проекты</span>
            <h2>Проекты</h2>
        </div>
        <div class="row">
            <div class="col-5 m-3">
                <%-include('../../elements/laptop')%>
            </div>
            <p class="col">
                <strong>Лорис Малагуцци</strong> часто говорил, что проект — это история.
                Тема должна быть родной, понятной детям и в то же время таить в себе возможность чего-то нового,
                захватывающего! Он советовал выбирать «теплую», вдохновляющую тему,
                чтобы детский интерес не угасал, а также заранее определять «пункт назначения» проекта,
                примерную конечную цель. Такой подход делает проект живым приключением,
                а не просто формой организации обучения. Тема работы определяется спонтанно,
                исходя из вопросов и интересов детей на данный момент,
                и обсуждается каждое утро во время сбора всей группы.
                Также темы могут рождаться в играх и разговорах.
            </p>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 70px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://disk.yandex.ru/d/Hc7Zy0mTmmQmZA/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
    </div>
</section>


