<section id="theater" class="theater">
    <div class="container">
        <div class="section-title">
            <span>Театральные постановки</span>
            <h2>Театральные постановки</h2>
        </div>
        <div>

        </div>
    </div>
</section>


