<!-- ======= About Me Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <span>Обо мне</span>
            <h2>Обо мне</h2>
        </div>
        <div class="row">
            <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-lg-8 d-flex flex-column align-items-stretch">
                <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <strong>Ф.И.О:</strong> <span>Покацкая Наталья Федоровна</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Дата рождения:</strong> <span>02.07.1978 г.</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Образовательное учреждения:</strong> <span>МБДОУ детский сад №96 «Калинка»</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Должность:</strong> <span>Воспитатель</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Образование:</strong> <span>БРПК г. Улан-Удэ</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Специальность:</strong> <span>Преподавание в начальных классах</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Квалификация:</strong> <span>Учитель начальных классов</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Проф. подготовка:</strong> <span>ООО Учебный центр «ПРОФЕССИОНАЛ», г. Москва</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Специальность:</strong> <span>Воспитание детей дошкольного возраста</span></li>
                    </ul>

                    <div class="row">
                        <div class="col-md-6 mt-3 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-award" style="color: #ffb459;"></i>
                                <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Общий стаж</strong> какой нибудь заумный текст</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-clock" style="color: #2cbdee;"></i>
                                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
                                <p>В <strong>педагогический стаж</strong> засчитываются годы работы в образовательных учреждениях</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>
    </div>
</section><!-- End About Me Section -->


