<section id="education" class="portfolio py-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title mt-0">Образование</h3>
                <div class="resume-item">
                    <h4>Учитель начальных классов</h4>
                    <h5>1997 - 1997</h5>
                    <p><em>Бурятский республиканский педагогический колледж г. Улан-Удэ</em></p>
                    <p>Если у вас есть мечта, ничто не помешает вам воплотить ее в жизнь, пока вы не сдаетесь. Нельсон Мандела</p>
                </div>
                <div class="resume-item">
                    <h4>Воспитание детей дошкольного возраста</h4>
                    <h5>июнь 2017</h5>
                    <p><em>ООО Учебный центр «ПРОФЕССИОНАЛ», г. Москва</em></p>
                    <p>Никогда не поздно уйти из толпы. Следуй за своей мечтой, двигайся к своей цели. Джордж Бернард Шоу</p>
                </div>

                <h3 class="resume-title">Повышение квалификации</h3>
                <div class="resume-item">
                    <h4>Современные педагогические технологии в организации образовательного процесса в ДОО</h4>
                    <h5>2018 г. 72 час.</h5>
                    <p><em>БРИОП</em></p>
                </div>
                <div class="resume-item">
                    <h4>Информационно-методическое сопровождение образовательной деятельности ДОО</h4>
                    <h5>2020г. 32 час.</h5>
                    <p><em>БРИОП</em></p>
                </div>
            </div>
            <div class="col-lg-6 pt-3">
                <div class="resume-item">
                    <h4>Технологии художественно-эстетического развития детей дошкольного возраста в соответствии с ФГОС ДО</h4>
                    <h5>2021 г. 48 час.</h5>
                    <p><em>БРИОП</em></p>
                </div>
                <div class="resume-item">
                    <h4>Обеспечение целевых ориентиров дошкольного детства в контексте ФГОС ДО</h4>
                    <h5>2021 г. 72 час.</h5>
                    <p><em>БРИОП</em></p>
                </div>
                <div class="resume-item">
                    <h4>Дополнительная профессиональная программа в ГАУ ДПО РБ
                        «Бурятский республиканский институт образовательной политики»,
                        «Современные педагогические технологии в организации образовательного процесса в ДОО»</h4>
                    <h5>2018 г. 72 час.</h5>
                    <p><em>*</em></p>
                </div>
                <div class="resume-item">
                    <h4>Создание современной образовательной среды в условиях реализации требований ФГОС ДОО на
                        примере ОП «Тропинки» под ред. В.Т. Кудрявцева и «Предшкольная пора» под ред. Н.Ф. Виноградовой</h4>
                    <h5>2017 г. 12 час.</h5>
                    <p><em>*</em></p>
                </div>
                <div class="resume-item">
                    <h4>Управление по делам молодежи Комитета по социальной и молодежной политике г. Улан-Удэ
                        «Вариативные психолого-педагогические формы работы с родителями»</h4>
                    <h5>2018 г. 6 час.</h5>
                    <p><em>*</em></p>
                </div>

            </div>
        </div>
    </div>
</section><!-- End My Resume Section -->