<section id="essay" class="px-5 m-0">
    <div style="width: 100%; height: 35px; border-bottom: 1px solid black; text-align: center; margin-top: 15px">
          <span style="font-size: 40px; background-color: #FFFFFF; padding: 0 10px;">
            Эссе <!--Padding is optional-->
          </span>
    </div>
    <div class="mt-4">
        В отличие от своих одноклассников, я уже с первого класса определилась с выбором профессии. Вдохновленная примером своего первого учителя, я мечтала работать с детьми.
        Закончив Педагогический колледж, проработав воспитателем два года, волею судьбы вынуждена была, находиться в дали от любимой профессии. Но все эти годы я не оставляла надежды вернуться к маленьким детишкам и  их горящим глазкам.
        И вот это свершилось - я воспитатель детского сада! Теперь это мой дом, в котором меня ждут, любят, ценят. В который я спешу с интерессными идеям, с хорошим настроением.
        Думаю, что только профессия педагога дает волю буре чувств и эмоций, почву для размышления и творчества. Мне хочется стать для своих малышей самым близким другом, хочется поделиться с ними своими знаниями и умениями, показать им как красив и  приветлив окружающий мир, как он хрупок и беззащитен, как нуждается в нашем участии.
        Воспитывать детей - это большая ответственность. Перед педагогом не просто ребенок, а будущий инженер, политик, врач или просто рабочий. Каким он будет. Добрым ,сильным, открытым, чувственным или замкнутым, раздражительным, агрессивным. Такие серьезные задачи решает профессия воспитателя. Я учу детей видеть прекрасное, быть добрым и честным, с юных лет гордиться своим призванием.
        В моей работе на первый план выходит простое человеческое -помощь, помочь увидеть прекрасное, приласкать, посочувствовать, поговорить по душам, потому что самая большая ценность на земле-это дети. То, во имя кого мы и живем. Ведь если мы посадим дерево. Построим дом, но не воспитаем сына, то для кого это дерево и этот дом.
        Считаю своим призванием найти и развить в ребенке способности, которые обязательно есть в каждом маленьком человечке, ввести его в окружающий мир, дав знания о мире, о его природе, о человеке как главной составляющей этого мира. И я думаю, что когда мои дети подрастут и станут взрослыми людьми, они оценят мои старания.
        Самой лучшей наградой за мой труд станет умение моих воспитанников жить в гармонии с окружающим миром, умение воспитывать эти качества в свои детях.
    </div>
</section>