<section id="events" class="portfolio" style="padding-bottom: 0">
    <div class="section-title">
        <span>Распространение опыта</span>
        <h2>Распространение опыта</h2>
    </div>
    <div class="events container pb-0">
        <div class="row">
            <div class="col-1"><i class="fa fa-2x text-success fa-circle"></i></div>
            <div class="col">
                <h2>ДОУ</h2>
                <div class="row p-0">
                    <ul>
                        <li><a href="?id=cb1b557a-efcd-465a-b9d9-c34d1f6cafc8">Доклад на пед совете "Игра по ФЭМП"</a></li>
                        <li><a href="?id=d513f80e-532a-4488-811c-d80f7c24596b">Доклад на пед совете "Тико-конструирование"</a></li>
                        <li><a href="?id=442f54cf-7c69-4367-b0c9-1998ee4d46b6">Семинар практикум</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fa fa-2x text-warning fa-circle"></i></div>
            <div class="col">
                <h2>Городской</h2>
                <div class="row p-0">
                    <ul>
                        <li><a class="disabled" href="?id=a993abf4-545f-4ba4-b608-1089fea45de5">2016 г. Участие в городском семинаре "Модель образовательного процесса в ДОО с учетом регионального компонента "Экология".</a></li>
                        <li><a class="disabled" href="?id=a233eac6-7410-411c-90b5-4b8beb35dec9">2018 г. Участие в городском информационно-методическом семинаре для педагогов ДОУ «Траектория образования: выбор за вами». Выступление на педагогической площадке «Адаптирование развивающих технологий в программе «Тропинки».</a></li>
                        <li><a class="disabled" href="?id=90dbe10a-ac44-4dbc-be06-96fb8a4ddc4b">2020 г. Проведение онлайн, посредством площадки ZOOM, мастер -класса по "Тико-моделированию" в рамках реализации Президентского Гранта "Создание Центра детского технического творчества "Роботошка" для дошколят" в МБДОУ № 113 "Капитошка".</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fa fa-2x text-danger fa-circle"></i></div>
            <div class="col">
                <h2>Республиканский</h2>
                <div class="row p-0">
                    <ul>
                        <li><a class="disabled" href="?id=765cead4-e23e-4412-a63c-bb2dc853d6dc">2017 г. Участие в традиционной Августовской конференции на консультационной площадке «Семья, школа, детский сад - взаимодействие и ответственность», «Права ребенка и обязанности взрослого». Провели консультации и беседы по данной теме, мастер-класс по изготовлению лэпбука и книжки- малышки по правам и обязанностям, закрепили с детьми и родителями права и обязанности взрослых и детей</a></li>
                        <li><a class="disabled" href="?id=8479a1af-274f-4e07-bbce-1326cba4e11f">8 февраля 2018г на базе детсада "Капитошка" прошёл республиканский семинар совместно с БРИОП. Участниками стали специалисты по дошкольному образованию и педагоги детских садов.</a></li>
                        <li><a class="disabled" href="?id=af6bbcbf-871b-4576-880a-ef1c6d1438f5">2018 г. Участие в республиканском семинаре педагогов по проблеме "Игровые практики в образовательном процессе современного детского сада". Тема выступления «Адаптирование развивающих технологий в программе "Тропинки».</a></li>
                        <li><a class="disabled" href="?id=297a64c0-53d8-46fb-aca0-0df54b379c10">2018 г. - Совместный семинар педагогов МБДОУ "ЦРР - детский сад № 99" г. Чита и педагогов МБДОУ "Калинка № 96" г. Улан - Удэ.</a></li>
                        <li><a class="disabled" href="?id=e0d13666-7698-4485-9fa4-946aae00a900">2018 г. - Участие в  разработке, организации и проведение (координатор) методического объединения дошкольных образовательных организаций г. Улан-Удэ по теме «Физическое воспитание и здоровье дошкольника».</a></li>
                        <li><a class="disabled" href="?id=2f2bc59e-2c2f-4642-8f15-2e4f1116963f">2019 г. - Участие в Межрегиональном семинаре «Развивающие игры современного поколения в образовательной среде ДОУ с использованием технологии В.В.Воскобовича». Презентация воспитанниками проекта "Реклама и дети".</a></li>
                        <li><a class="disabled" href="?id=8bbdca0f-7cbf-4e3f-ac83-f03b2913201b">Участие в III Межрегиональном Фестивале «Десятилетие Детства: дошкольное образование XXI века – педагогические инициативы, диалог, сотрудничество». Мастер -класс "Технология Тикомоделирование"</a></li>
                        <li><a class="disabled" href="?id=3ff22bf1-4078-49db-bee7-321f32025993">2020 г. V Межрегиональный Фестиваль педагогических идей и новинок в области дошкольного образования «Дошкольное образование XXI века - педагогические инициативы, диалог, сотрудничество»</a></li>
                        <li><a class="disabled" href="?id=51b8cb68-27e1-46ad-829c-5b86542bd179">2020 г. мастер класс для  коллег Д/С  №33 "Светлячок"из опыта работы "Использование инновационных технологий в образовательном процессе ДОУ"</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>