<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<section id="e_photos" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>Фотографии</span>
                <h2>Фотографии</h2>
            </div>
            <%-include('../elements/experience_gallery')%>

            <div class="section-title mt-3">
                <span>Грамоты</span>
                <h2>Грамоты</h2>
            </div>
            <%-include('../elements/certificate_gallery')%>

        </div>
    </div>
</section><!-- End My Resume Section -->


