<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Наталья Федоровна Покацкая</h1>
        <div style="height: 50px">
            <h2><span>Я <span class="text-slider m-0"></span></span></h2>
        </div>
        <div class="greetings text-center">
            Я рада приветствовать вас на страницах моего сайта. Здесь вы познакомитесь со мной и  с моими воспитанниками.
            Сайт создан для всех ,кому интересен мир детства, кто хочет и может поделиться своим опытом в воспитании, развитии и оздоровлении детей.
            Мой сайт создан с целью обобщения, систематизации и распространения накопленного материала. На сайте вы найдете разработки занятий, развлекательных досугов, презентации.
            В общем все то, что может пригодиться педагогу в работе с детьми дошкольного возраста.Родители могут познакомиться с различными рекомендациями по  воспитанию и развитию детей - дошкольников
            Надеюсь, что все материалы, размещенные на страницах этого сайта, будут Вам полезны в работе и в воспитании наших детей.
            С благодарностью приму Ваши отзывы, пожелания и замечания.
        </div>
        <a href="#visit_card" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->

<script>
    if ($(".text-slider").length == 1) {
        var typed = new Typed(".text-slider", {
            strings: ['педагог', 'воспитатель', 'учитель', 'наставник'],
            typeSpeed: 80,
            loop: true,
            backDelay: 900,
            backSpeed: 80,
        });
    }
</script>