<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Наталья Федоровна Покацкая</h1>
        <div style="height: 50px">
            <h2><span>Я <span class="text-slider m-0"></span></span></h2>
        </div>
        <div class="greetings">
            <i class="bi bi-quote"></i>
            <span>Предоставьте</span>
            <span>ребенку</span>
            <span>возможности</span>
            <span>для</span>
            <span>развития</span>
            <span>,</span>
            <span>и</span>
            <span>вы</span>
            <span>удивитесь</span>
            <span>сколько</span>
            <span>потенциала</span>
            <span>заложено</span>
            <span>в</span>
            <span>нем.</span>
        </div>
        <div class="mb-5" style="align-self: end; margin-right: 21%; font-size: 24px">
            — ЛОРИС МАЛАГУЦЦИ
        </div>
        <a href="#visit_card" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->

<script>
    if ($(".text-slider").length == 1) {
        var typed = new Typed(".text-slider", {
            strings: ['педагог', 'воспитатель', 'учитель', 'наставник'],
            typeSpeed: 80,
            loop: true,
            backDelay: 900,
            backSpeed: 80,
        });
    }
</script>