<section id="kids_gallery" class="position-relative">
    <div class="d-flex flex-column justify-content-center w-100 h-100">
        <div class="container">
            <h2 class="heading-text">Responsive <span>image gallery</span></h2>
            <ul class="image-gallery">
                <% for(let i = 1; i < 12; i++)  { %>
                    <li>
                        <img src="images/kids/<%=i%>.jpg" alt="" />
                        <div class="overlay"><span>Заголовок фотографии</span></div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</section>