<section id="links" class="m-0">
    <div class="section-title">
        <span>На своем сайте я ...</span>
        <h2>На своем сайте я ...</h2>
    </div>
    <div class="cards">
        <a href="/about_me" class="card animate__animated animate__fadeInLeft">
            <h1>Расскажу</h1>
            <p>о себе, чтобы мы с тобой подружились </p>
        </a>
    </div>
    <div class="cards d-flex justify-content-end">
        <a href="/parents" class="card animate__animated animate__fadeInRight">
            <h1>Помогу разобраться</h1>
            <p>в вопросах развития, воспитания и образования своих маленьких детей.</p>
        </a>
    </div>
    <div class="cards">
        <div class="card animate__animated animate__fadeInLeft">
            <h1>Вместе с тобой попробуем</h1>
            <p>Превратить десткий сад в терреторию со-творчество, со-действия и события</p>
        </div>
    </div>
</section>