<section id="my_family">
    <div class="section-title">
        <span>Моя семья</span>
        <h2>Моя семья</h2>
    </div>
    <div class="p-5">
        <div class="family_gallery" style="z-index: -1">
            <figure class="gallery__item--1">
                <img src="images/family/4.jpg" class="gallery__img" alt="Image">
            </figure>
            <figure class="gallery__item--3">
                <%-include('../elements/arrows/arrow_1')%>
            </figure>
            <figure class="gallery__item--2 text-center block">
                <h2>Муж</h2>
                Андрей - мой фундамент, готовый поддержать меня в любых начинаниях
            </figure>
            <figure class="gallery__item--1">
                <img src="images/family/4.jpg" class="gallery__img" alt="Image">
            </figure>
        </div>
    </div>
</section>