<section id="my_hobbies">
    <div class="section-title">
        <span>Мои увлечения</span>
        <h2>Мои увлечения</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="images/gif/fishermen.gif">
            </div>
            <div class="col"></div>
            <div class="col-5 block">
                Какой то текст о рыбалке
                Почему нравится ? Давно ли рыбалкой увлекаетесь
                И Т.П
            </div>
        </div>
        <div class="row">

            <div class="col-5 block">
                Какой то текст о туризме
                Почему нравится ? Давно ли туризмом увлекаетесь
                И Т.П
            </div>
            <div class="col">
                <img src="images/gif/tourist.gif">
            </div>
        </div>
    </div>
</section>