<section id="public_activity">
    <div class="section-title">
        <span>Общественная активность</span>
        <h2>Общественная активность</h2>
    </div>
    <div class="container">

    </div>
</section>