<section id="youtube_channel" class="position-relative" style="margin: 20px 80px;">
    <div class="section-title">
        <span>Youtube канал</span>
        <h2>Youtube канал</h2>
    </div>
    <div class="text-center p-5">
        ТЕКСТ ? ТЕКСТ ? ТЕКСТ ? ТЕКСТ ? ТЕКСТ ? ТЕКСТ ? ТЕКСТ ? ТЕКСТ ?
    </div>
    <div class="row m-0">
        <div class="col-lg">
            <a target="_blank" href="https://www.youtube.com/channel/UC4ZGm2DcapUqo_d8mGJrSOA">
                <img src="images/youtube.gif" width="100%"/>
            </a>
            <div class="text-center">
                <div class="p-0 arrow up"></div>
                <h2>Переходи на канал</h2>
            </div>
        </div>
        <div class="col-lg skills-content p-3">
            <img src="images/youtube_photos.png" width="100%"/>
        </div>
    </div>
</section>