<section id="games" class="px-5 m-0">
    <div data-aos="fade-down" class="section-title">
        <span>Игры</span>
        <h2>Игры</h2>
    </div>
    <div>
        <div class="row">
            <div data-aos="fade-right" class="col-lg">
                <h3 class="text-center">Лепим самолет</h3>
                <iframe class="game" src="https://learningapps.org/show.php?id=pkuhwgbo501"
                        allowfullscreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true">
                </iframe>
            </div>
            <div data-aos="fade-left" class="col-lg">
                <h3 class="text-center">Как звучит наземный транспорт</h3>
                <iframe class="game" src="https://learningapps.org/show.php?id=p4x56td9320"
                        allowfullscreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true">
                </iframe>
            </div>
        </div>
        <div class="row mt-3">
            <div data-aos="fade-right" class="col-lg">
                <h3 class="text-center">Найди пару</h3>
                <iframe class="game" src="https://learningapps.org/show.php?id=p7m6zjoej"
                        allowfullscreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true">
                </iframe>
            </div>
            <div data-aos="fade-left" class="col-lg">
                <h3 class="text-center">Сказочные загадки</h3>
                <iframe class="game" src="https://learningapps.org/show.php?id=p39m8274519"
                        allowfullscreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true">
                </iframe>
            </div>
        </div>
    </div>
</section>

<script>

</script>