.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

#arrow {
    animation: arrow 3s linear forwards;
    opacity:0;
}

@keyframes arrow {
    to {
        opacity: 1;
    }
}