<section id="e_photos" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>Фотографии</span>
                <h2>Фотографии</h2>
            </div>
            <%-include('../../elements/experience_gallery')%>

            <div class="section-title mt-3">
                <span>Грамоты</span>
                <h2>Грамоты</h2>
            </div>
            <%-include('../../elements/certificate_gallery')%>

        </div>
    </div>
</section><!-- End My Resume Section -->


