<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

<section id="public_activity">
    <div class="section-title">
        <span>Общественная активность</span>
        <h2>Общественная активность</h2>
    </div>
    <div class="container position-relative">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" tabindex="0">
                        <div class="card-image">
                            <img src="images/news/IMG_4.webp" alt="">
                        </div>
                        <div class="card-content">
                            <h2>ТИКО–технологии в программе «Тропинки»</h2>
                            <p>8 февраля  на базе  детсада  "Капитошка" прошёл республиканский семинар ...</p>
                        </div>
                        <div class="card-footer">
                            <a href="?id=8479a1af-274f-4e07-bbce-1326cba4e11f" role="button">
                                <span>Читать далее</span>
                            </a>
                            <svg class="icon" viewBox="0 0 16 16">
                                <g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                    <line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line>
                                    <polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" tabindex="0">
                        <div class="card-image">
                            <img src="images/news/IMG_30.webp" alt="">
                        </div>
                        <div class="card-content">
                            <h2>«Траектория образования: выбор за вами»</h2>
                            <p>В работе семинара приняли участие, заведующие и старшие воспитатели из 48 детских садов...</p>
                        </div>
                        <div class="card-footer">
                            <a href="?id=a233eac6-7410-411c-90b5-4b8beb35dec9" role="button">
                                <span>Читать далее</span>
                            </a>
                            <svg class="icon" viewBox="0 0 16 16">
                                <g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                    <line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line>
                                    <polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" tabindex="0">
                        <div class="card-image">
                            <img src="images/news/IMG_12.webp" alt="">
                        </div>
                        <div class="card-content">
                            <h2>«Физическое воспитание и здоровье дошкольника»</h2>
                            <p>состоялось методическое объединение педагогов дошкольных образовательных организаций ...</p>
                        </div>
                        <div class="card-footer">
                            <a href="?id=e0d13666-7698-4485-9fa4-946aae00a900" role="button">
                                <span>Читать далее</span>
                            </a>
                            <svg class="icon" viewBox="0 0 16 16">
                                <g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                    <line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line>
                                    <polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" tabindex="0">
                        <div class="card-image">
                            <img src="images/news/IMG_32.webp" alt="">
                        </div>
                        <div class="card-content">
                            <h2>«Фестивале дворовых игр»</h2>
                            <p>Идея проведения фестиваля возникла в 2013 году. С тех пор каждый год, в первые дни лета ...</p>
                        </div>
                        <div class="card-footer">
                            <a href="?id=3237fa21-0deb-4789-aefd-7e476a22f678" role="button">
                                <span>Читать далее</span>
                            </a>
                            <svg class="icon" viewBox="0 0 16 16">
                                <g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                    <line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line>
                                    <polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>