<section id="publications" class="m-0 p-0">
    <div class="section-title">
        <span>Публикации</span>
        <h2>Публикации</h2>
    </div>
    <div class="container">
        <div class="row" style="margin: 50px 0">
            <div class="col">
                <div class="row m-0 p-0">
                    <img src="images/publications/1.jpg">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span>
                        <strong>Печатное издание.</strong> Статья в сборнике материалов III Международного Фестиваля педагогических идей и
                        новинок в области дошкольного образования «Десятилетие Детства: дошкольное образование XXI века –
                        педагогические инициативы, диалог, сотрудничество», - «Формирование инженерного мышления у детей
                        старшего дошкольного возраста средствами конструктора Тико-моделирования» - 2019 г.
                    </span>
                </div>
                <div class="row  mt-5">
                    <a class="text-center" target="_blank" href="http://centr-bo.ru/wp-content/uploads/2019/03/%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA-%D0%94%D0%BE%D1%88%D0%BA%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5-%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-2019.pdf#page=334">
                        <h2>Посмотреть полностью</h2>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="margin: 50px 0">
            <div class="col">
                <div class="row">
                    <span class="text-center">
                        <strong>Печатное издание.</strong>
                        Сборник научных трудов участников VII Международной научно-практической конференции 29-30 ноября 2018г. в г. Новосибирске / под общей редакцией С.В. Казначеева. - Новосибирск: МСА (ЗСО), 2018. – с.367.
                    </span>
                </div>
                <div class="row  mt-5">
                    <a class="text-center" target="_blank" href="https://centr-bo.ru/wp-content/uploads/2018/11/%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA-%D0%9A%D0%B0%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B5-%D1%87%D1%82%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BD%D0%BE%D1%8F%D0%B1%D1%80%D1%8C-2018-%D0%A4%D0%98%D0%9D%D0%90%D0%9B.pdf#page=367">
                        <h2>Посмотреть полностью</h2>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row m-0 p-0">
                    <img src="images/publications/2.jpg">
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="margin: 50px 0">
            <div class="col">
                <div class="row m-0 p-0">
                    <img src="images/publications/3.jpg">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span>
                        <strong>Печатное издание.</strong>
                        Методическая разработка занятия по ФЭМП «Путешествие с Путалкой»
                        «Вестник дошкольного образования» №21 2020 .- стр 57
                    </span>
                </div>
                <div class="row  mt-5">
                    <a class="text-center" target="_blank" href="https://files.s-ba.ru/publ/vestnik-do/47.pdf#page=58">
                        <h2>Посмотреть полностью</h2>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="margin: 50px 0">
            <div class="col">
                <div class="row">
                    <span class="text-center">
                        <strong>Печатное издание.</strong>
                        Технология «Утренние сказки»
                        «Вестник дошкольного образования» №46 2020 .- стр 96
                    </span>
                </div>
                <div class="row  mt-5">
                    <a class="text-center" target="_blank" href="https://files.s-ba.ru/publ/vestnik-do/72.pdf#page=92">
                        <h2>Посмотреть полностью</h2>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row m-0 p-0">
                    <img src="images/publications/2.jpg">
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
