<section id="publications" class="m-0 p-0">
    <div class="section-title">
        <span>Публикации</span>
        <h2>Публикации</h2>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 100px">
            <div class="col">
                <div class="row m-0 p-0">
                    <img src="images/publications/1.jpg">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span>
                        <strong>Печатное издание.</strong> Статья в сборнике материалов III Международного Фестиваля педагогических идей и
                        новинок в области дошкольного образования «Десятилетие Детства: дошкольное образование XXI века –
                        педагогические инициативы, диалог, сотрудничество», - «Формирование инженерного мышления у детей
                        старшего дошкольного возраста средствами конструктора Тико-моделирования» - 2019 г.
                    </span>
                </div>
                <div class="row  mt-5">
                    <a class="text-center" target="_blank" href="http://centr-bo.ru/wp-content/uploads/2019/03/%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA-%D0%94%D0%BE%D1%88%D0%BA%D0%BE%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5-%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-2019.pdf#page=334">
                        <h2>Посмотреть полностью</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <span class="text-center">
                        <strong>Печатное издание.</strong>
                        Статья в сборнике Казначеевские чтения №4, 2018 г.
                        - «Формирование инженерного мышления у детей дошкольного возраста», стр. 367.
                    </span>
                </div>
                <div class="row  mt-5">
                    <a class="text-center" target="_blank" href="https://centr-bo.ru/wp-content/uploads/2018/11/%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA-%D0%9A%D0%B0%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B5-%D1%87%D1%82%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BD%D0%BE%D1%8F%D0%B1%D1%80%D1%8C-2018-%D0%A4%D0%98%D0%9D%D0%90%D0%9B.pdf#page=367">
                        <h2>Посмотреть полностью</h2>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row m-0 p-0">
                    <img src="images/publications/2.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
