<section id="clay_play" class="clay_play">
    <div class="mx-2">
        <div class="mobile-hidden">
            <img style="width: 13%; height: auto; position: absolute" src="images/gif/caly/1.gif">
            <img style="width: 15%; height: auto; position: absolute; right: 10px" src="images/gif/caly/2.gif">
        </div>
        <div class="section-title">
            <span>Работа с глиной</span>
            <h2>Работа с глиной</h2>
        </div>

        <div class="row video-gallery">
            <div class="gallery">
                <%
                let urls = [
                    'RrtTpJrapE4'
                ]
                        for(let url of urls) {
                %>
                <a href="https://youtu.be/<%=url%>" class="glightbox12" data-gallery="gallery12">
                    <div class="gallery-item ">
                        <img class="gallery-image" src="https://img.youtube.com/vi/<%=url%>/hqdefault.jpg">
                    </div>
                </a>
                <% } %>
            </div>
        </div>
        <div class="mobile-hidden">
            <img style="width: 10%; height: auto; position: absolute; bottom: 10px" src="images/gif/caly/5.gif">
            <img style="width: 10%; height: auto; position: absolute; bottom: 10px; right: 0" src="images/gif/caly/4.gif">
        </div>
    </div>
</section>

<script type="text/javascript">

    const lightbox12 = GLightbox({
        selector:  '.glightbox12',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>