<section id="tico_play" class="tico_play">
    <div class="mx-2">
        <div class="section-title">
            <span>Тико моделирование</span>
            <h2>Тико моделирование</h2>
        </div>
        <div class="d-flex justify-content-center">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSW4NYAzbSz0jT8JReS8zeWD9RjcM5sTHnkFBT9PRwQsi37L88B1sM4eqPoaSkg_Q/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
            </iframe>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center" style="font-size: 24px; margin: 70px">
                    <button  class="button button--secondary">
                        <a target="_blank" href="https://cloud.mail.ru/public/2Cgs/zYGksxqSa"
                           class="button__inner">Скачать конспекты</a>
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="text-center" style="font-size: 24px; margin: 70px">
                    <button  class="button button--secondary">
                        <a target="_blank" href="https://drive.google.com/drive/u/2/folders/1C9vbkzubF913CDMYkH2DdSq9JviLrrE2"
                           class="button__inner">Скачать статьи</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
