<div class="graph__wrapper" style="z-index: 10; position: absolute">
    <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
        <g  id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">

            <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round" stroke-miterlimit="10"
                  d="M 922 252 c -36 88 -244 108 -267 -44 s -233 -184 -283 -49"/>

            <polyline id="arrow" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                <animateMotion rotate="auto" begin=".6s" dur="1.6s" repeatCount="1" fill="freeze">
                    <mpath xlink:href="#Path-1" />
                </animateMotion>
            </polyline>

        </g>
    </svg>
</div>