<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Проект "Родной край"</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    <strong>27/02/2020</strong>   В рамках  долгосрочного проекта "Родной край", в группе был создан уголок бурятской культуры. дети познакомились с национальной одеждой бурят, устроили турнир по стрельбе из лука, и конные скачки.
                    <br>
                    Впереди нас ждет еще много интересного.
                    <br>
                    <strong>06/03/2020</strong>   Сегодня детишки познакомились с чудесным и веселым мальчиком из бурятских сказок - Будамшой. Когда он пришел к нам в гости, будто сойдя со страницы сказки, дети были удивлены и обескуражены. Оказалось что Будамша еще и отличный сказочник. Послушав его волшебные сказки , ребята гостеприимно показали ему свою группу и поделились знаниями о родном крае Бурятии. Надеемся ,что наше знакомство только началось )))))
                    <br>
                    <strong>10/03/2020</strong> Нашей группе-не до скуки. Мы решили ,а почему бы нам не устроить мини-турнир по бурятской народной игре Шагай Наадан. Решили-устроили ))))
                    <br>
                    <strong>11/03/200</strong>  Новой страницей нашего проекта было знакомство с  жилищем Бурят- Юртой. Мои любознайки с большим интересом рассматривали макет  юрты, внутренний быт бурятского народа. Может быть в силу своего возраста запомнили не так много, но зато эмоций получили с лихвой.
                    <br>
                    <strong>12/03/200</strong> Байкал- наша жемчужина. Малыши сразу его узнали на подготовленной для них инсталляции. Ассоциаций связанных с ним было море.Ребята узнали ,что такое озеро единственное в своем роде, и много других фактов.
                    <br>
                    <strong>13/03/200</strong> Литературная гостинная нашей группы сегодня распахнула двери для детей заинтересованных бурятскими сказками, героями этих сказок.Дети с удовольствием рассматривали иллюстрации и книги Бурятских поэтов.Хочу такой сайт
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 21; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/3/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>