<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Проект - выставка "Обитаемый остров"</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    Как развить познавательный интерес у ребенка? Любите эту жизнь и научите любить ее своих детей, открывайте вместе с ними новые возможности и горизонты ... Родители среднестатистического ребенка-дошкольника за день слышат несчетное количество вопросов.Всевозможные: «как?», «зачем?» и «почему?» постоянно присутствуют в детском лексиконе.
                    <br>
                    Что делать, если ребенку интересно все живое??? Как и что растет? Зачем слону хобот и осьминогу 8 ног? Ответ прост. Познавать мир вместе с ним!
                    <br>
                    Очередной проект "Обитаемый остров"- удовлетворил не только интерес Даши к животному и водному миру, но и позволил ей поделиться своими знаниями с одногруппниками.
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 7; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/11/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>