<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Спасение Единорожки</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    Сегодня, передо мной стояла одна задача- спасти единорожку, а вот как и от кого это вопрос. В моих планах было  выяснить на утреннем круге у Маши, в какую беду попала единорожка, место событий, разработать с детьми план спасения, а вечером из пакетов и фольги соорудить в спальне волшебную страну( я почему то была уверена что единорожка попала в беду в волшебной стране). НО!!!!!!!

                    Во первых Маша заболела и не пришла( я уже решила, что УРА у меня больше времени на подготовку!!), но не тут то было. Даша заявила, что Маша заболела так как переживает за единорожку, и спасать надо немедленно! На мои возражения, что мы не знаем куда отправляется, дети сказали - А мы знаем!!!

                    Из обсуждения, кому и что рассказала Маша, мы пришли к выводу - единорожка заблудилась в темном лесу, ее в клетку посадил Кащей, и хочет сьесть. (плакала моя волшебная страна)Нарисовав на ватманах лес, и разработав план спасения, Ярослав сказал, но нам же нужна специальная одежда. (surprised)

                    Делаем из пакетов и фольги - доспехи и платья для фей.

                    Даша постоянно твердит, чтоспасать нужно немедленно, а у нас БАССЕЙН. Выдумываем мотивацию - идем в бассейн  набираться волшебной силы!!

                    Пока дети в бассейне, успеваю, выкатить Кащея, единорога, изображаю клетку, обматываю все веревкой, делаю палочки волшебные для девочек и мячи для мальчиков.

                    Подкрепляемся Волшебным СИЛО-ЙОГУРТОМ, одеваем доспехи. И в путь!!!Хочу такой сайт

                    Единоржку мы конечно же спасли!!!! Что же нас ждет завтра!!!
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 7; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/2/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>