<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">
            Краткосрочный проект «Что такое доброта» (Средняя группа)
        </h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    <strong>Тип проекта:</strong> практико-ориентированный. Включает в себя творческую, игровую, наблюдательную и практическую деятельность.
                    <br><br>
                    <strong>Актуальность проекта:</strong> В последние годы много говорят о кризисе нравственности и бездуховности. Этот кризис проявляется, прежде всего, в доминировании материальных ценностей над духовными, что приводит к искажению представлений детей о таких добродетелях, как доброта, отзывчивость, милосердие, великодушие, справедливость. В обществе отмечается общий рост социальной напряженности и агрессии, а это отражается на детях и проявляется в детской агрессивности и враждебности. Искажения нравственного сознания, эмоциональная, волевая, душевная и духовная незрелость прослеживаются сегодня у детей дошкольного возраста. Поэтому работа педагогов ДОУ, главной целью которой является формирование первоначальных представлений о нравственных чувствах и эмоциях представляется на сегодняшний момент очень актуальной.
                    <br>
                    Современное общество заинтересовано в воспитании высокоразвитой неповторимой личности. Умение справляться с проявлениями собственного эгоизма, уважать мнение других людей, приходить на помощь, сочувствовать и сопереживать другим людям, доброта – вот те необходимые качества, которые необходимо заложить в раннем возрасте.
                    <br>
                    Цель проекта узнать, что такое доброта.
                    <br><br>
                    <strong>Задачи проекта:</strong>
                    <br>
                    1. Расширить представление детей о добре
                    <br>
                    2. Выяснить, как стать добрым (с помощью взрослых).
                    <br>
                    3. Понаблюдать за тем, как люди проявляют доброту.
                    <br>
                    4. Определить, насколько важно быть добрым человеком.
                    <br>
                    5. Познакомиться с художественной литературой, пословицами и поговорками о доброте.
                    <br>
                    6. Изгтовить улыбки и подарить добро детям соседней группы.
                    <br>
                    7. О результатах исследования рассказать взрослым и своим друзьям.
                    <br><br>
                    <strong>Методы и приёмы:</strong> рассматривание иллюстраций. Постановка условий, по которым необходимо выполнить задание, вопросы, объяснение, подсказка, художественное слово, ситуативный разговор, анализ, выводы
                    <br>
                    Возраст детей: 4 года
                </span>
            </div>
            <h2 class="text-center">
               <a href="documents/project_2.docx">
                   Скачать материал
               </a>
            </h2>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>