<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Путешествие по планете</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    Путешествуя по Африке, нам открылось много её тайн и загадок, которые скрыты за зелеными лесами, бескрайними саванами и жаркими пустынями.
                    <br>
                    А познакомившись с животным миром было решено нарисовать самое высокое наземное животное на планете . Вдохновлённые многообразием животного мира Африки, на прогулке дети принялись искать следы животных, которые по их мнению приходят на площадку пока они спят.
                    <br>
                    Было бы желание,  и наши поиски увенчались успехом.
                    <br>
                    Были найдены  следы  воробья, птерадактиля, медведя и панды. Сравнив все наши следы сделали вывод что и человек невидимка тоже к нам заглядывает
                    <br>
                    Вот интересно, что нас ждет завтра.....
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 8; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/12/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>