<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Краткосрочный проект

            «Солнечные лучики»

            (Средняя группа)</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    <strong>Тип проекта:</strong> Экспериментально - исследовательский. Включает в себя творческую, наблюдательную и практическую деятельность.
                    <br>
                    <strong>Актуальность проекта:</strong> Мир вокруг нас удивителен и бесконечно разнообразен. Ежедневно дети сталкиваются с интересными и порой непонятными явлениями в живой и неживой природе, постигают знания об их взаимосвязях. Перед воспитателем возникает задача – расширять кругозор детей, развивать их познавательную активность. Одним из самых эффективных способов в этом направлении является – экспериментирование, в процессе которого дошкольники получают возможность удовлетворить присущую им любознательность, почувствовать себя учёными, исследователями, первооткрывателями. В процессе постижения новых знаний у детей развивается умение анализировать, обобщать свои наблюдения, логически мыслить и составлять собственное мнение обо всем наблюдаемом, вникая в смысл происходящего. При формировании основ естественно – научных и экологических понятий экспериментирование можно рассматривать как метод, близкий к идеальному. Знания, добытые самостоятельно, всегда являются осознанными и более прочными.
                    <br>
                    Лето – самое хорошее время года для проведения опытов с солнечным светом, воздухом, водой, песком. Дети по природе своей – исследователи и необходимо помочь им делать открытия, дать возможность пробовать, искать, изучать, думать, размышлять, анализировать, делать выводы экспериментировать, а самое главное само выражаться.
                    <br>
                    <strong>Цель проекта:</strong> развитие поисково-познавательной активности детей при проведении опытов с солнечным светом.
                    <br>
                    <strong>Задачи проекта:</strong>
                    <br>
                    Расширять кругозор детей.

                    2. Способствовать развитию творческого мышления и активности, самостоятельности при проведении исследовательской деятельности.
                    3. Научить устанавливать простейшие закономерности и связи в

                </span>
            </div>
            <h2 class="text-center">
               <a href="documents/project_1.docx">
                   Скачать материал
               </a>
            </h2>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>