<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Проект в проекте</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    Детская инициатива всегда приятна и неожиданна, и никогда не знаешь когда и к чему она тебя приведет.
                    <br>
                    Детская инициатива – это самостоятельное внутреннее побуждение ребенка к деятельности, к познанию окружающего мира.Это мотивационное качество, рассматривается и как волевая характеристика поведения человека.
                    <br>
                    Для меня проявление ребенком инициативы, это шаг вперед в его развитии, в его познавательном интересе к окружающему миру.
                    <br>
                    Предложение Даши, рассказать сверстникам о ее опыте выращивания из гусеницы бабочки, стало событием №1.
                    <br>
                    Не смотря на то что на дворе январь, крещенские морозы и тема недели "Зимние забавы", мы развернули в группе онлайн лабораторию по выведению бабочек.
                    <br>
                    Даша обрела ценнейший опыт выступления перед коллективом детей, взяла на себя роль ведущего, руководителя. С видом знающего ученого рассказывала о всех процессах ее летнего эксперимента.
                    <br>
                    Дети в свою очередь, увлеченно слушали и даже задавали вопросы. Информация  детьми,из уст сверстника детьми воспринимается совершенно иначе.
                    <br>
                    Что естественно, ребята сразу же решили повторить эксперимент. Так что впереди нас ждет еще много интересного!!!!

                    <br><br>

                    Инициативность проявляется во всех видах деятельности, но ярче всего в общении, предметной деятельности, игре, экспериментировании. Это важнейший показатель детского интеллекта, его развития.
                    <br>
                    Инициативность является непременным условием совершенствования всей познавательной деятельности ребенка, но особенно творческой. Инициативный ребенок стремится к организации игр, продуктивных видов деятельности, содержательного общения, он умеет найти занятие, соответствующее собственному желанию; включиться в разговор, предложить интересное дело другим детям. Хочу такой сайт
                    <br>
                    В дошкольном возрасте инициативность связана с проявлением любознательности, пытливости ума, изобретательностью.
                    <br>
                    Инициативного ребенка отличает содержательность интересов. Возможность играть, рисовать, конструировать, сочинять и пр. в соответствии с собственными интересами является важнейшим источником эмоционального благополучия ребенка в детском саду.
                    <br>
                    Задача как педагога таки родителя вовремя заметить и поддержать ребенка , его желание , его интерес.
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 7; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/9/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>