<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">
            Краткосрочный проект «Зимний лес» (Средняя группа)
        </h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    <strong>Актуальность проекта:</strong> Недостаточные знания детей о лесе в зимний период, его красоте, жителях леса в зимний период
                    <br><br>
                    <strong>Цель проекта:</strong> Создание условий для творческой и образовательной деятельности детей в процессе проекта.
                    <br><br>
                    <strong>Задачи проекта:</strong>
                    <br>
                    - Раскрыть творческие способности детей через различные виды деятельности.
                    <br>
                    - Дать представления о жизни животных и птиц в лесу зимой.
                    <br>
                    - Обогатить словарь детей:  дупло, берлога, нора, кормушка, стая, колючий, лохматый, хитрый и др.
                    <br>
                    - Развивать связную речь через составление описательного рассказа.
                    <br>
                    - Воспитывать интерес к продуктивной деятельности.
                    <br>
                    - Воспитывать желание оказывать помощь животным и птицам зимой.
                    <br><br>
                    <strong>Методы и приёмы:</strong> рассматривание иллюстраций. Постановка условий, по которым необходимо выполнить задание, вопросы, объяснение, подсказка, художественное слово, ситуативный разговор, анализ, выводы
                    <br><br>
                    <strong>Возраст детей:</strong> 4 года
                    <br><br>
                    <strong>Продолжительность:</strong> 1 неделя
                    <br><br>
                    <strong>Форма реализации:</strong> НОД
                    <br><br>
                    <strong>Предполагаемый результат:</strong> Обогащение знаний детей о красоте и живописности зимнего леса, а так же жизни его обитателей.
                    <br><br>
                    <strong>Организация проекта:</strong>
                    1 этап.
                    Постановка проблемы, определение цели и задач исследовательской работы.
                    В ходе занятий с детьми, проводимых воспитателем, бесед с родителями, просмотра телепередач чтения литературы, игр, дети, совместно с воспитателем поставили проблему : « Как живут звери зимой в лесу? ». Была выдвинута гипотеза : « Некоторые животные спят, а некоторые животные живут в лесу в своих домиках ».
                </span>
            </div>
            <h2 class="text-center">
               <a href="documents/project_4.docx">
                   Скачать материал
               </a>
            </h2>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>