<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">"Зубной день"</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                     У нас событие-выпал первый зуб!!! Нужно было меньше есть конфет-сделали вывод дети, у тебя кариес, теперь выпадут все- подъитожил Матвей. Я так понимаю, что сегодня у нас зубной день.
                    <br><br>
                    Иллюстрации с челюстью человека впечатлили детей, легонько навожу их  на мысль сделать макет. Огромные глаза, море энтузиазма, а разнообразие материала ещё больше вдохновило детей.
                    <br><br>
                    Основание вырезаем из картонной коробки, вместо зубов -пробки. Первый опыт работы с клеевым пистолетом и краска из большой банки привлекла и тех детей, кто вначале не был заинтересован.
                    <br><br>
                    Язык, язык то забыли, кричат дети!
                    <br><br>
                    Челюсть готова, дети счастливы. Максим прикрепляет на зубы мягкий конструктор. Кариес-говорит он.
                    <br><br>
                    Идею подхватили и у нас родились кариес король и много других.
                    <br><br>
                    После сна мастерим зубную щетку. Учимся правильно чистить зубы.
                    <br><br>
                    <strong>День второй.</strong>
                    <br><br>
                    Вспомнили о зубной фее. Ну что ж. Готовим костюм, волшебную палочку и домик!!! Думаю, что феей буду наверное я, уж очень хочется в таком доме поиграть. Хочу такой сайт
                    <br><br>
                    <strong>Итог:</strong> Про зубы и гигиену знаем все,практические навыки получены, логика и воображение поработали на славу, дети всегда при деле и увлечены. А домик думаю сыграет для нас не один десяток ролей.
                    <br><br>
                    Как вы думаете, Кариес  к нам завтра  заглянет????
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 13; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/16/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>