<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Персональная выставка</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    Каждый ребенок талантлив и индивидуален по-своему, кто-то легко строит свои отношения в группе, а кому-то сложно раскрыться. Сегодня у нас стартовал проект «персональная выставка» - это прекрасная возможность для ребенка показать свои достижения и скрытые таланты, проявить себя как индивидуальности в глазах сверстников.Персональная выставка - важная компонента Технологии воспитания талантов, будущих звезд, знаменитостей, в том числе в домашних условиях.
                    <br>
                    Оформив выставку в холле, мы пригласили детей на открытие. Торжественно перерезали красную ленточку. Аня с удовольствием рассказала о своем любимом мультфильме и его героях. Дети с интересом слушали, а затем засыпали Аню вопросами. Так же почтными гостями выставки были воспитатели блока и наша уважаемая Зоя Яковлевна!
                    <br>
                    Сегодня была Анютина минута Славы!!!
                </span>
            </div>
            <div class="d-flex justify-content-center my-3">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQEd7CwWf-Px-fvJCo6KU6TkPO38q1p7SoBLHX5irQC_-rejYSVTw1mMBYSkafvww/embed?start=false&loop=false&delayms=3000"
                        frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                </iframe>
            </div>
            <div class="d-flex flex-column justify-content-center w-100 h-100">
                <div class="container">
                    <ul class="image-gallery">
                        <% for(let i = 1; i < 6; i++)  { %>
                        <li style="list-style: none">
                            <img src="images/projects/13/<%=i%>.jpg" alt="" />
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>