<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Совместный семинар педагогов МБДОУ "ЦРР - детский сад № 99" г. Чита</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    26 октября состоялся методический выезд  18 педагогов нашего дошкольного образовательного учреждения  в город Читу (МБДОУ ЦРР детский сад № 99), с целью  обмена опытом в  рамках межрегионального взаимодействия в тьюторском семинаре «Сказочные лабиринты игры В.В.Воскобовича».
                    <br>
                    Насыщенная программа семинара  включала в себя два направления:  занятия и мастер-классы МБДОУ ЦРР детский сад № 99 г. Чита и  МБДОУ д/с №96 «Калинка г. Улан-Удэ», которые позволили узнать много нового и обменяться передовым опытом всем педагогам; развивающая среда МБДОУ ЦРР детский сад № 99 г. Чита  «Педагогическая копилка», где были наглядно представлены методические разработки, оборудование, развивающие игры  др.
                    <br>
                    В завершении семинара состоялся круглый стол, на котором обсуждены актуальные вопросы, подведены итоги, а также намечены перспективы дальнейшей сетевой  работы   тьюторских центров  В. В. Воскобовича Участники семинара получили огромный заряд позитивной энергии, вдохновения для предстоящей работы и отметили необходимость подобных встреч не только для общения, но и для собственного роста.
                    <br>
                    Мы надеемся, что материалы, представленные на семинаре, помогут педагогам   в работе, будут способствовать поиску новых идей и подходов в воспитании и обучении детей.
                    <br>
                    Педагоги высоко оценили уровень проведения данного мероприятия.
                </span>
            </div>
            <div class="d-flex justify-content-around">
                <img class="m-3" src="images/news/IMG_7.webp">
                <img class="m-3" src="images/news/IMG_8.webp">
                <img class="m-3" src="images/news/IMG_9.webp">
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>