<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Семинар «Программа дошкольного образования «Тропинки» с участием Т.Н. Ерофеевой (г. Москва)</h1>
        <div class="container">
            <div class="row my-4">
                19 апреля состоялся семинар «Программа дошкольного образования «Тропинки» под редакцией доктора психологических наук В.Т. Кудрявцева с участием ведущего методиста объединенной издательской группы «Российский учебник» г. Москвы Татьяны Николаевны Ерофеевой.
                <br><br>
                В семинаре приняли участие педагоги дошкольных образовательных организаций Республики Бурятия. Татьяна Николаевна  представила концептуальные основы программы, принципы построения, содержание, что учитывают разработчики программы «Тропинки». Затем были вручены свидельства о присвоении статуса экспериментальной площадки детским садам города и республики Бурятии.
                <br><br>
                В педагогической мастерской была показана адаптированная развивающая технология программы «Тропинки», «Эффективная социализация ребёнка» и «Педагогические технологии» выступлением педагогов детского сада № 96, 15 , 113.
                <br><br>
                Семинар способствовал расширению информации о содержании, путях, способах и технологиях реализации ФГОС дошкольного образования и вариативности использования программы «Тропинки»
                <br><br>
            </div>
            <div class="d-flex justify-content-center">
                <img class="m-3" src="images/news/IMG_3949.webp">
                <img class="m-3" src="images/news/IMG_4319.webp">
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>