<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Информационно-методического семинар «Траектория образования: выбор за вами».</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    20 апреля 2018 года   состоялся информационно-методического семинар «Траектория образования: выбор за вами».
                    В работе семинара приняли участие, заведующие и старшие воспитатели из 48 детских садов.
                    <br><strong>Цель семинара:</strong> обмен опыта по основным образовательным программам.<br>
                    <strong>Задачи семинара:</strong>
                    <ul>
                        <li>обновлении качества и доступности образования</li>
                        <li>выработка требований к качеству образования</li>
                        <li>содействие повышению профессиональной компетентности педагогов</li>
                        <li>выявление лучшего опыта</li>
                    </ul>
                    Семинар состоял из 2-х частей. В первой части работали две площадки и были представлены педагогические мастерские по следующим темам:
                    <br>
                    <ul style="list-style: square">
                        <li>Педагогическая мастерская «Эффективная социализация ребенка»</li>
                        <li>Педагогическая мастерская «Адаптирование развивающих технологий в программе «Тропинки»</li>
                        <li>Развитие творческого мышления детей. (на примере образовательной программы "От рождения до школы" )</li>
                        <li>Организация совместной деятельности детей по физическому развитию»</li>
                        <li>Коммуникативные игры»</li>
                        <li>Система оценки индивидуального развития ребенка</li>
                    </ul>
                    Педагогами садов были показаны открытые образовательные события, мастер — классы.
                    <ul>
                        <li>8 ДОО работают по программе «Тропинки»;</li>
                        <li>1 ДОО работает по программе «Успех»;</li>
                        <li>1 ДОО работают по программе «Истоки»;</li>
                        <li>Остальные ДОО работают по программе «От рождения до школы»;</li>
                    </ul>
                    В городе Улан-Удэ: 6 ДОО работают по программе «Детсво»;
                    <br>
                    Вторая часть семинара была посвящена обзору основных образовательных программ детских садов города. Была проведена игра «Метаморфоза» под руководством Малаховой Галины Ивановны – заведующей кафедрой педагогики психологии детства ГАУ ДПО РБ «БРИОП»
                    <br>
                    Такая игра является разновидностью «мозговой атаки». С ее помощью удается выявить существующие проблемы и наметить способы их устранения, которые впоследствии можно внести в проект решения
                    <br>
                    Итоги семинара были подведены начальником отдела дошкольного образования Комитета по образованию Администрации г.Улан-Удэ Будаевой Эржени Александровной.
                    <br>
                    Участники и организаторы мероприятия: ДОУ № 113,96,58,15,95,110,72,112.
                    <br>
                    Семинар проводился в МБДОУ №96 «Калинка» 1 корпус.
                    <br>
                    Вывод: Семинар прошел организованно. Было принято решение пересмотреть выбор Основной образовательной программы с учётом авторских программ, в некоторых дошкольных учреждениях.
                    <br>
                </span>
            </div>
            <div class="d-flex justify-content-around">
                <img class="m-3" src="images/news/IMG_4000.webp">
                <img class="m-3" src="images/news/IMG_4001.webp">
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>