<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center" style="text-decoration: underline">Познавательно-исследовательский проект «Весёлый огород»</h1>
        <h4 class="text-center">Дорый день, дорогие коллеги! <br> Представляем вашему вниманию проект «Веселый огород»</h4>
        <div class="container">
            <div class="row my-4">
                Лето – удивительная пора детства! Много радости приносят детям игры с   песком и водой,  солнечные ванны, хождение босиком по траве, обливание водой. Как сделать жизнь детей  в этот период ещё содержательней, познавательней и интересней?  В этом  нашему   педагогическому    коллективу помог творческий проект «Здравствуй лето». Цель которого – эффективное использование  летнего периода для оздоровления и личностного развития дошкольников.
                <br><br>
                <strong>Задачи:</strong>
                <ul>
                    <li>способствовать  умственному, нравственному, эстетическому и физическому воспитанию дошкольников на материале  природного окружения;</li>
                    <li>расширять  круг интересов детей через организацию художественно-творческой и   познавательно-исследовательской деятельности;</li>
                    <li>использовать комплексный подход к организации  летней оздоровительной работы;</li>
                    <li>воспитывать чувство любви  к   своему городу и родному краю.</li>
                </ul>
                Участниками проекта,  осуществляемого в течение летнего периода,  стали  педагоги,  воспитанники  старших и средних  групп и их родители.
                <br><br>
                Инициативной  творческой группой была  составлена схема реализации проекта    через интеграцию  разных видов деятельности, объединенных одной темой. В работе использовались различные методы и приёмы,  наиболее  эффективными  из которых являются:  сравнительный анализ,  сопоставление, поиск, проблемные вопросы, стимулирующие совместно  с педагогом «открытия».
                <br><br>
                Для того, чтобы  работа с детьми по проекту содержательной и  интересной  необходимо было создать  условия:   сделать внешний вид участков для прогулок яркими и привлекательными. Этому способствовало проведение   конкурса «На лучшее оформление тематических площадок   в летний период».
                Коллектив педагогов был поделён на три  подгруппы. Нашей подгруппе выпала экологическая площадка –огород.
                <br><br>
                Мы разработали и реализовали познавательно-исследовательский проект  «Весёлый огород». Так как  у нас уже  был не совсем  удачный опыт выращивания   овощных культур, в этот раз, мы подошли к нашему проекту вооружившись научными знаниями.
                <br><br>
                Ценность познавательно-исследовательского  проекта «Весёлый огород» заложена в изучении   и пополнении знаний в области естественно-научных представлений  у участников  проекта. Так же проект дает возможность  детям, родителям и педагогам  практически  участвовать в  создании  экологической площадки - огород  на участке детского сада.
                <br><br>
                <strong>Тип проекта:</strong>
                <ul>
                    <li>по составу участников: коллективный;</li>
                    <li>по возрастному составу: старший дошкольный возраст;</li>
                    <li>интеграция образовательных областей: познавательное, речевое, социально-коммуникативное,  художественно-эстетическое, физическое  развитие;</li>
                    <li>по срокам исполнения: долгосрочный (май 2016 г.- сентябрь   2016г.);</li>
                    <li>по степени новизны: инновационный;</li>
                    <li>по содержанию: познавательно-исследовательский-творческий.</li>
                </ul>
            </div>
            <div class="d-flex justify-content-around">
                <img style="transform: rotate(-90deg);" src="images/news/IMG_3500.webp">
                <img style="transform: rotate(-90deg);" src="images/news/IMG_3501.webp">
            </div>
            <div class="mt-4 text-center">
                <a href="documents/project.ppt" target="_blank" style="font-size: 36px">Скачать материал</a>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>