<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Презентация инновационного проекта</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    Презентация инновационного проекта идеи по дополнительному образованию дошкольников с профориентацией, наложенную на цифровую среду CLIX . Презентация была представлена на августовской конференции педагогических работников Республики Бурятия на получение статуса инновационной площадки. 2021
                </span>
            </div>
            <div class="d-flex justify-content-around">
                <img class="m-3" src="images/news/1.jpg">
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>