<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center" style="text-decoration: underline">Игра по ФЭМП в средней группе ДОУ «Подарок для мишки»</h1>
        <div class="container">
            <div class="row mb-3">
                <span>
                    <strong>Цели:</strong>
                    развитие элементарных математических представлений у дошкольников среднего  возраста.
                </span>
            </div>
            <div class="row mb-3">
                <span>
                    <strong>Задачи:</strong>
                развивать внимание, память мелкую моторику; активизировать мыслительные процессы; способствовать развитию  коммуникативных
                </span>
            </div>
            <div class="row mb-4">
                <span>
                    <strong>Описание игры:</strong>
                    Сказочный персонаж из мультфильма «Маша и Медведь»  Маша, сообщает детям что, у Мишки- День рождения. И она решила подарить ему подарок-книгу по математике, которая находится у Мудрой Совы. И Мудрая Сова предлагает пройти испытания , чтоб получить книгу. Маша просит детей помочь ей. Маша объясняет , что для того чтоб прейти на следующий слайд, нужно нажать на желтую стрелочку. Далее следуют задания.
                    <br><br>
                    <strong>Задание 1:</strong> На игровом поле расположены различные геометрические фигуры и коробка. В коробку нужно сложить все треугольники.
                    <br><br>
                    Задачи: формировать осмысленное восприятие формы геометрических фигур, умение  сравнивать одну геометрическую фигуру с другими, большего-меньшего размера и   находить среди   них такие же, но разные по цвету; развивать  зрительное восприятие, сообразительность.
                    <br><br>
                    <strong>Задание 2:</strong> На поле расположены парные картинки. Задача ребенка указать кто в паре больше.
                    <br><br>
                    Задачи: Учить детей сравнивать предметы по величине больше – меньше, развивать умение анализировать, сравнивать, классифицировать предметы по величине, осуществлять сериацию предметов.
                    <br><br>
                    <strong>Задание 3:</strong> На поле игровые карточки, с несколькими цифрами и определенным количеством предметных картинок. Нужно соотнести количество предметов с цифрой.
                    <br><br>
                    Задачи: Закреплять знания цифр, соотносить их с числом предметов.
                    <br><br>
                    <strong>Задание 4-5:</strong> На игровых полях предметы. Задача указать кто или что находится- выше, правее.
                    <br><br>
                    Задачи: В данной игре закрепляются понятия вверху – внизу, выше – нижеправее-левее. Дети учатся соотносить предметы с той реальной обстановкой, в которой они могут находиться. Игра способствует развитию наблюдательности, внимания, воображения.
                    <br><br>
                    <strong>Задание 6:</strong> На поле домик, и различные геометрические фигуры. В домик нужно заселить фигуры которые соответствуют фигурам которые уже живут в доме, т.е. –круги.
                    <br><br>
                    Задачи: Учить различать геометрические фигуры, группировать их по форме не обращая внимания на цвет фигуры, закрепить в речи названия геометрических фигур, задание способствует развитию наблюдательности, внимания, воображения.
                    <br><br>
                    <strong>Задание 7:</strong> Следующей задачей для ребенка закончить правильно ряд из геометрических фигур.
                    <br><br>
                    Задачи: развитие логического мышления, внимания, зрительного сосредоточения
                    <br><br>
                    <strong>Задание 8:</strong> На поле карточки с изображением предметов, и детали –заплатки для них. Предлагается отыскать нужную.
                    <br><br>
                    Задачи: развивать сенсорное восприятие, связную речь. познавательные и мыслительные процессы, творческие способности и фантазию
                    <br><br>
                    <strong>Задание 9-10:</strong> На игровом поле картинки времени года. Ребенку нужно обобщить и сделать вывод,к какому времени года они относятся, и кликнуть на нужную кнопку.
                    <br><br>
                    Задачи: учить определять время года по его характерным признакам; закреплять знания детей и представления об особенностях каждого времени года;
                    <br><br>
                    <strong>Задание 11:</strong> На поле –различные рукавички. Задача –найти пару.
                    <br><br>
                    Задачи: развитие у детей наблюдательности и внимательности, развивать память.
                </span>
            </div>
            <div class="mt-4 text-center">
                <a href="documents/game.pptx" target="_blank" style="font-size: 36px">Скачать материал</a>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>