<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">Доклад на педагогический совет.</h1>
        <h5 class="text-center">Из личного опыта: «Формирование у детей познавательно-исследовательской <br>деятельности с помощью конструктора «ТИКО»</h5>
        <div class="container">
            <div class="row my-4">
                <span>
                    <strong>1 слайд</strong> Формирование у детей познавательно-исследовательской деятельности с помощью конструктора «ТИКО».
                    <br><br>
                    <strong>2 слайд</strong> В познавательно-исследовательской деятельности  развиваются творческие способности детей, происходит овладение обобщенными когнитивными способами, позволяющими строить умозаключения, делать выводы, основываясь на собственных наблюдениях и практическом опыте, ставить проблемы и находить разные пути их решения.
                    <br><br>
                    <strong>3 слайд</strong> В своей практике я попробовала применить для формирования  у детей  познавательно-исследовательской деятельности конструктор «Тико».  Так как он является великолепным средством для интеллектуального развития дошкольников, и обеспечивает интеграцию образовательных областей:
                    <br>- познавательное развитие: техническое конструирование, воплощение замысла из деталей ТИКО-конструктора;
                    <br>- речевое развитие на занятиях обучение грамоте посредством конструктора ТИКО-грамматика (развитие фонематического слуха, словообразование, понятие синтаксис)
                    <br><br>
                    <strong>4 слайд</strong>
                    <br>- художественно-эстетическое развитие: творческое конструирование, создание замысла из деталей ТИКО-конструктора;
                    <br>- физическое развитие: координация движения, крупная и мелкая моторика обеих рук;
                    <br>- социально-коммуникативная: развитие общения и взаимодействия ребенка со взрослым, становление самостоятельности, целенаправленности и саморегуляции собственных действий.
                </span>
            </div>
            <div class="row d-block mt-4 text-center">
                <a href="documents/d513f80e-532a-4488-811c-d80f7c24596b.zip" target="_blank">
                    <h1>Скачать материал</h1>
                </a>
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>