<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <section class="m-3 news">
        <h1 class="text-center m-0" style="text-decoration: underline">«Физическое воспитание и здоровье дошкольника»</h1>
        <div class="container">
            <div class="row my-4">
                <span>
                    30 ноября на базе МБДОУ д/с 96 «Калинка»  состоялось методическое объединение педагогов дошкольных образовательных организаций «Физическое развитие и здоровье дошкольника» для инструкторов по физической культуре и  воспитателей города. В работе методического объединения приняло участие 41 ДОО  г. Улан-Удэ.
                    <br>
                    На методическом объединение педагоги познакомились с новыми технологиями и методами физического воспитания, поделились опытом. Все  участники презентовали свой опыт в форме мастер-класса, что позволило сделать семинар по-настоящему практико-ориентированным. Анализ представленных мастер-классов позволил участникам обогатить собственный педагогический опыт. Интересно и творчески подошли педагоги МБДОУ № 96 д/с  «Калинка»  к организации и проведению семинара, так отметили в анализе участники методического объединения.
                </span>
            </div>
            <div class="d-flex justify-content-around">
                <img class="m-3" src="images/news/IMG_10.webp">
                <img class="m-3" src="images/news/IMG_11.webp">
            </div>
            <div class="d-flex justify-content-around">
                <img class="m-3" src="images/news/IMG_12.webp">
                <img class="m-3" src="images/news/IMG_13.webp">
                <img class="m-3" src="images/news/IMG_14.webp">
            </div>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>