<section id="kids_gallery" class="position-relative">
    <div class="d-flex flex-column justify-content-center w-100 h-100">
        <div class="container">
            <h2 class="heading-text">Будни <span>с детьми</span></h2>
            <ul class="image-gallery">
                <%
                    let titles = [
                        '«Поездка на море» Готовим атрибуты.',
                        'Игра в глину- Кораблики',
                        '',
                        '',
                        'Игра в глину по замыслу.',
                        'Занятие «Настроение»',
                        'Занятие «Настроение»',
                        'Игра в глину- Кораблики',
                        'Игра в глину- Кораблики',
                        'Индивидуальные выставки», каждый может организовать и рассказать о том, что у него лучше всего получается',
                        'Неделя добра. В группе появилось дерево добра. От добрых поступков –расцветают цветы',
                        '«Забытые предметы». Просмотр диафильмов- для детей настоящее чудо',
                        'Коллективная разработка плана спасения Единорожки',
                        '«Волшебный мир». Наши феи готовы творить чудеса',
                        '«Поедка на море». Подготовились основательно',
                        '«Зубная фея». С такой гигиеной ни какие микробы не страшны',
                        '«Твистинг». Кстати, неплохо получается',
                        '«Косомс». К полету готовы, важно, что корабль изготовили сами, значит не подведет',
                        '«Подарок маме»',
                        '«Экспериментируем» - Получится или не получится?',
                        '«Вторая жизнь коробки» Отправиться в путешествие по лабиринту из коробок, легко!',
                        '«Выращивание бабочки»- индивидуальный проект.',
                        '«Племя Белого орла»- стало интересно кто такие индейцы, неделю пожили в племени.',
                        '«Импровизация»- дети решили что так ширма выглядит красивее.',
                        '«Космос»- вечером идем смотреть на звезды, готовятся.',
                        '«А у нас гость»- родительский проект, в этом месяце в гостях мама из МЧС.'
                    ]
                for(let i = 0; i < 26; i++)  { %>
                    <li>
                        <img class="lazy" data-src="images/kids/<%=i%>.webp" alt="" />
                        <div class="overlay p-3"><span><%=titles[i]%></span></div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</section>