<section id="my_family">
    <div class="section-title">
        <span>Моя семья</span>
        <h2>Моя семья</h2>
    </div>
    <div class="p-lg-5">
        <div class="family_gallery" style="z-index: -1">
            <figure class="gallery__item--1">
                <img data-src="images/family/4.webp" class="gallery__img lazy" alt="Image">
            </figure>
            <figure class="gallery__item--3">
                <img data-src="images/family/arrow_1.webp" class="gallery__img lazy" alt="Image">
            </figure>
            <figure class="gallery__item--2 text-center block">
                <h2>Муж</h2>
                Андрей - мой фундамент, готовый поддержать меня в любых начинаниях
            </figure>
            <figure class="gallery__item--4">
                <img data-src="images/family/2.webp" class="gallery__img lazy" alt="Image">
            </figure>
            <figure class="gallery__item--5 text-center block">
                <h2>Сын</h2>
                Владислав - это моя защита, от любых неприятностей и невзгод
            </figure>
            <figure class="gallery__item--6">
                <img data-src="images/family/arrow_2.webp" class="gallery__img lazy" alt="Image">
            </figure>
            <figure class="gallery__item--7">
                <img data-src="images/family/1.webp" class="gallery__img lazy" alt="Image">
            </figure>
            <figure class="gallery__item--8 text-center block">
                <h2>Внук</h2>
                Артем - это моя надежда и вера в светлое будущее
            </figure>
            <figure class="gallery__item--9 text-center block">
                <h2>Невестка</h2>
                Анастасия - это мой друг и единомышленник.
            </figure>

            <figure class="gallery__item--10">
                <img data-src="images/family/arrow_3.webp" class="gallery__img lazy" alt="Image">
            </figure>
        </div>
    </div>
</section>