<link href="stylesheets/animation/squares.css" rel="stylesheet">
<section id="visit_card" style="padding: 0 !important;">
    <div class="wrapper">
        <div class="d-block" style="z-index: 2">
            <div class="section-title" style="margin: 40px 60px;">
                <span style="color: rgba(238,240,242, 0.1)">Визитная карточка</span>
                <h2>Визитная карточка</h2>
            </div>

            <div style="width: 75%">
                <a href="https://drive.google.com/file/d/1g8dKpaAzNEC13x1quoaAZH2kjTESxQa1/preview" class="glightbox22" data-gallery="glightbox22">
                    <div class="gallery-item">
                        <img style="object-fit: cover;"
                             class="gallery-image hover-bubbles lazy"
                             data-src="https://drive.google.com/thumbnail?id=1g8dKpaAzNEC13x1quoaAZH2kjTESxQa1">
                    </div>
                </a>
            </div>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>

<script>
    const glightbox22 = GLightbox({
        selector:  '.glightbox22',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>