<section id="weekdays">
    <div class="section-title">
        <span>Будни с коллегами</span>
        <h2>Будни с коллегами</h2>
    </div>
    <div class="container">
        <ul class="image-gallery">
            <% for(let i = 1; i < 16; i++)  { %>
            <li>
                <a href="images/weekdays/<%=i%>.jpg" class="glightbox2" data-gallery="gallery2">
                    <img class="gallery-image" alt="image" src="images/weekdays/<%=i%>.jpg"/>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</section>


<script>

    function revealFadeIn() {
        let reveals = document.querySelectorAll(".gallery .revealFadeIn");
        for (let i = 0; i < reveals.length; i++) {
            let windowHeight = window.innerHeight;
            let elementTop = reveals[i].getBoundingClientRect().top;
            let elementVisible = 100;
            if (elementTop < windowHeight - elementVisible) {
                let duration = (i.toString().length === 1 ? '0.' + i.toString() + 's' : '1.'
                    + (i % 9).toString() + 's')

                reveals[i].style.setProperty('--animate-duration', duration);
                reveals[i].classList.add("animate__animated")
                reveals[i].classList.add("animate__fadeIn");
                reveals[i].style.visibility = "visible"
            }
        }
    }

    window.addEventListener("scroll", revealFadeIn);
    revealFadeIn();

</script>

<script type="text/javascript">
    const lightbox2 = GLightbox({
        selector:  '.glightbox2',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>