<section id="weekdays">
    <div class="section-title">
        <span>Будни с коллегами</span>
        <h2>Будни с коллегами</h2>
    </div>
    <div class="container">
        <ul class="image-gallery">
            <% for(let i = 1; i < 16; i++)  { %>
            <li>
                <a href="images/weekdays/<%=i%>.webp" class="glightbox2" data-gallery="gallery2">
                    <img class="gallery-image lazy" alt="image" data-src="images/weekdays/<%=i%>.webp"/>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</section>

<script type="text/javascript">
    const lightbox2 = GLightbox({
        selector:  '.glightbox2',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>