<section id="youtube_channel" class="position-relative" style="margin: 20px 80px;">
    <div class="section-title">
        <span>Youtube канал</span>
        <h2>Youtube канал</h2>
    </div>
    <div class="p-3">
        <h2>Привет! А вот и наш <font style="color: #FF0000">YOUTUBE</font> канал!</h2>
        <div class="d-flex justify-content-end">
            <span>
                Мы его сделали чтобы показать, что умеем и как интересно живем!
                Посмотрите не пожалеете!
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg">
            <a target="_blank" href="https://www.youtube.com/channel/UCa0o9Kc1NiSvuOwW60QdgVA">
                <img src="images/gif/youtube.gif" width="100%"/>
            </a>
            <div class="text-center">
                <div class="p-0 arrow up"></div>
                <h2>Переходи на канал</h2>
            </div>
        </div>
        <div class="col-lg skills-content p-3">
            <img src="images/youtube_photos.png" width="100%"/>
        </div>
    </div>
</section>